.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.env
.env.*
!.env.example
!example.env
.venv/
venv/
ENV/
env.bak/
venv.bak/
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/
htmlcov/
.coverage
.coverage.*
.cache/
docs/
tests/
